body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
}

.disharmony-title {
  color: white;
  background-color: #544a5b;
  font-size: 1.65rem;
  text-indent: 1rem;
  padding: 0.75rem 0rem;
  font-weight: 600;
}

.title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #544a5b;
  align-items: center;
}

.friends-icon {
  margin-right: 3rem;
  scale: 2;
}

.friends-icon:hover {
  cursor: pointer;
  color: white;
}

.text-channels-h2 {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  text-indent: 1rem;
  padding: 0.25rem 0.25rem;
  background-color: #635870;
  border-bottom: 2px solid black;
}


.general-channel-h2 {
  color: white;
  font-size: 1.25rem;
  text-indent: 1rem;
  padding: 0.25rem 0.25rem;
  border-bottom: 2px solid black;
  background-color: #4c4253;
  font-weight: 500;
}

.users-channel-h2 {
  color: white;
  font-size: 1.25rem;
  text-indent: 1rem;
  padding: 0.25rem 0.25rem;
  border-bottom: 2px solid black;
  background-color: #635870;
  font-weight: 500;
}

.cols-box {
  display: flex;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

/* delete this code later and put in mobileMain.css ---------------------------------------------------------------------------------------------------------------------------*/
 
.unique-class {
  display: none;
}

/* Mobile view ---------------------------------------------------------------------------------------------------------------------------------------- */
  @media (max-width: 768px) {
    .cols-box,
    .text-channels-h2,
    .general-channel-h2,
    .users-channel-h2,
    .disharmony-title,
    .title-box,
    .friends-icon {
      display: none;
    }
    .unique-class {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  
    .mobile-header {
      display: flex;  
      align-items: center;
      background-color: #635971;
      padding: 1rem; 
    }
  
    .channel-name {
      font-size: 1.75rem; 
      padding-left: 1rem;
      color: white;
    }

    .triple-bar-icon {
      font-size: 1.75rem; 
      color: white;
      font-weight: bold;
    }

    .dropdown-title {
      display: inline-block;  
      font-size: 1.75rem; 
      padding-left: 2rem;
      padding-bottom: 0.5rem;
      padding-top: 1rem;
      color: white;
    }

    .channel {
      color: white;  
      padding-top: 0.5rem;
      padding-left: 3rem;  
    }

    .friend {
      color: white;  
      padding-top: 0.5rem;
      padding-left: 3rem;  
    }

    .request {
      color: white;  
      padding-top: 0.5rem;
      padding-left: 3rem;  
    }

    .user {
      color: white;  
      padding-top: 0.5rem;
      padding-left: 3rem;  
    }
  }
